@page "/"
@using EifStartasWeb.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Translations> t
<PageTitle>Home</PageTitle>

<h1>@t["app_name"]</h1>


Welcome to your new Fluent Blazor app.